body {
	padding: 0;
	margin: 0;
}

/* Navbar */
#menu {
	padding-top: 60px;
}
.navbar-default {
    border: 0;
    font-size: 18px;
}
.navbar-brand {
	font-size: 30px;
	color: #fff !important;
}
#navbar a {
	color: #fff;
	font-weight: bold;
}
#navbar a:hover {
	background-color: transparent !important;
	color: rgb(215, 255, 68);
}
.navbar-brand svg {
	width: 100px;
	height: 100px;
	transform: scale(1.5);
	-ms-transform: scale(1.5);
	-webkit-transform: scale(1.5);
}
.navbar-brand svg path {
	fill: transparent;
	stroke: rgb(215, 255, 68);
	stroke-width: 15px;
}
.navbar-brand svg text {
	font-size: 60px;
	text-transform: uppercase;
	font-weight: bold;
	fill: rgb(215, 255, 68);
}

/* Header */
#header {
	height: 100vh;
	background: url('../img/header.jpg') no-repeat center fixed;
}
#header h1 {
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 100px;
	width: 50vw;
	margin: 0 auto;
	padding-top: 160px;
}
#header #arrows {
	padding-top: 100px;
}
#header #arrow-down-hover {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Product */
#product h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 100px;
	text-align: center;
	padding-top: 100px;
	color: rgb(71, 71, 71);
}