body {
	padding: 0;
	margin: 0;
}

/* Navbar */
#menu {
	padding-top: 60px;
}
.navbar-default {
    border: 0;
    font-size: 18px;
}
.navbar-brand {
	font-size: 30px;
	color: #fff !important;
}
#navbar a {
	color: #fff;
	font-weight: bold;
}
#navbar a:hover {
	background-color: transparent !important;
	color: #d7ff44;
}
.navbar-brand svg {
	width: 100px;
	height: 100px;
	transform: scale(1.5);
	-ms-transform: scale(1.5);
	-webkit-transform: scale(1.5);
}
.navbar-brand svg path {
	fill: transparent;
	stroke: #d7ff44;
	stroke-width: 15px;
}
.navbar-brand svg text {
	font-size: 60px;
	text-transform: uppercase;
	font-weight: bold;
	fill: #d7ff44;
}

/* Header */
#header {
	height: 100vh;
	background: url('../img/header.jpg') no-repeat center fixed;
}
#header h1 {
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 100px;
	width: 50vw;
	margin: 0 auto;
	padding-top: 160px;
}
#header #arrows {
	padding-top: 100px;
}
#header #arrow-down-hover {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Product */
#product h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 100px;
	text-align: center;
	padding-top: 70px;
	color: #636363;
}
#product span {
	color: #a6ff00;
}
#product h3 {
	text-transform: uppercase;
	font-weight: 900;
	color: #636363;
	padding-top: 80px;
}
#product p {
	color: #636363;
	padding-top: 30px;
}
#product img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}
#product a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 900;
	color: #636363;
	border: 4px solid #636363;
	padding: 12px 24px;
	width: 170px;
	display: block;
	margin: 70px auto;
	text-align: center;
}

/* About */
#about {
	background-color: #d7ff44;
}
#about h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 100px;
	text-align: center;
	padding-top: 70px;
	color: #636363;
}
#about img {
	display: block;
	margin: 40px auto;
}
#about hr {
	height: 6px;
	background-color: #636363;
}
#about h3 {
	color: #636363;
	font-weight: 900;
	text-transform: uppercase;
}
#about p {
	color: #636363;
}

/* Featured */
#featured h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 100px;
	text-align: center;
	padding: 70px 0;
	color: #636363;
}
#featured img {
	padding-bottom: 10px;
}

/* Contact */
#contact {
	background-color: #d7ff44;
	padding-bottom: 60px;
}
#contact h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 100px;
	text-align: center;
	padding: 70px 0;
	color: #636363;
}
#contact p {
	font-weight: 900;
}

/* Map */
#map {
	width: 100wh;
	height: 400px;
}

/* Demo */
#demo h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 100px;
	text-align: center;
	padding: 70px 0;
	color: #636363;
}
#demo h4 {
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	color: #636363;
}