body {
	padding: 0;
	margin: 0;
}

/* Menu */
.navbar {
	padding-top: 15px;
	background: #fff;
	border-bottom: 0px;
}
.navbar-header {
	float: right;
	padding-right: 100px;
	text-align: right;
	width: auto;
}
.navbar a {
	text-decoration: none;
	color: rgb(53, 161, 43);
}

/* Header */
#header {
	height: 50vh;
	background: url('../img/header.jpg');
}
#header svg #rect-outer {
	fill:rgb(255,255,255);
	stroke-width:3;
	stroke:rgba(0, 255, 76, 0.5);
}
#header svg #rect-inner {
	fill:rgb(10, 202, 96);
}
#header svg text {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 5%;
}
#header h1 {
	text-transform: uppercase;
	font-size: 45px;
}
#header p {
	font-size: 16px;
}
#header ul li {
	float: left;
	text-decoration: none;
	list-style-type: none;
	text-transform: uppercase;
	text-align: center;
}
#header ul li a {
	font-size: 16px;
	color: #fff;
}
#header ul li:nth-child(1) {
	background-color: #ff358c;
	width: 180px;
	height: 35px;
	padding-top: 7px;
}
#header ul li:nth-child(1):hover {
	background-color: #9b1b52;
	cursor: pointer;
}
#header ul li a:hover {
	text-decoration: none;
}
#header ul li:nth-child(2) {
	background-color: #9b1b52;
	display: block;
	width: 32px;
	height: 35px;
	padding-top: 5px;
}
#header ul li:nth-child(2):hover {
	background-color: #6b1138;
	cursor: pointer;
}
#header .right .image {
	height: 50vh;
	width: 20vw;
	background: url('../img/mobile-phone.png') no-repeat center;
}
#header .app-content {
	height: 35vh;
	width: 215px;
	background: url('../img/icon.png') no-repeat center;
}
#header .app-content p {
	text-transform: uppercase;
	text-align: center;
	padding-top: 190px;
}

/* Facts */
#facts .row {
	padding-top: 20px;
}
#facts img {
	opacity: 0.6;
	width: 55px;
	height: 55px;
	float: left;
}
#facts h1 {
	text-transform: uppercase;
	font-size: 15px;
	color: rgb(20, 173, 110);
}
#facts a {
	font-size: 25px;
	color: #ff358c;
	float: right;
}

/* Responsivnes */
#responsivnes {
	background-color: rgb(20, 173, 110);
}
#responsivnes .row {
	padding-top: 20px;
}
#responsivnes h1, #responsivnes p {
	color: #fff;
}
#responsivnes h1 {
	text-transform: uppercase;
	font-size: 45px;
}
#responsivnes p {
	font-size: 16px;
}
#responsivnes .devices {
	position: relative;
}
#responsivnes #responsive {
	padding-top: 50px;
}
#responsivnes .devices #tablet {
	position: relative;
	top: 0;
	left: 0;
}
#responsivnes .devices #phone {
	position: absolute;
}

#responsivnes ul {
	padding-left: 340px;
}
#responsivnes ul li {
	float: left;
	text-decoration: none;
	list-style-type: none;
	text-transform: uppercase;
	text-align: center;
}
#responsivnes ul li a {
	font-size: 16px;
	color: #fff;
}
#responsivnes ul li:nth-child(1) {
	background-color: #ff358c;
	width: 180px;
	height: 35px;
	padding-top: 7px;
}
#responsivnes ul li:nth-child(1):hover {
	background-color: #9b1b52;
	cursor: pointer;
}
#responsivnes ul li a:hover {
	text-decoration: none;
}
#responsivnes ul li:nth-child(2) {
	background-color: #9b1b52;
	display: block;
	width: 32px;
	height: 35px;
	padding-top: 5px;
}
#responsivnes ul li:nth-child(2):hover {
	background-color: #6b1138;
	cursor: pointer;
}

/* Social */
#social {
	background-color: #000;
	height: 400px;
	position: relative;
}
#social .center-block {
	float: none;
}
#social p {
	position: absolute;
	top: 120px;
	margin: auto;
	color: #fff;
	display: inline;
	border: 1px solid #fff;
	font-size: 18px;
	padding: 7px 60px;
	text-transform: uppercase;
}
#social #icons {
	top: 220px;
}
#social #icons a {
	text-decoration: none;
	color: #fff;
	padding: 0px 18px;
	font-size: 75px;
}

/* Contact */
#contact span {
	font-weight: bold;
}
#contact .form p {
	font-size: 16px;
}
#contact .form input {
	width: 80%;
	border: 1px solid #000;
	background-color: rgb(51, 236, 180);
	padding: 8px 0;
}
#contact .form button {
	margin-top: 10px;
	width: 80%;
	background-color: rgb(17, 187, 116);
	border: none;
	color: #fff;
	padding: 11px 0;
}
#contact img {
	padding-top: 15px;
}

/* Footer */
footer {
	font-size: 12px;
}