body {
	padding: 0;
	margin: 0;
}

/* Menu */
.navbar {
	padding-top: 15px;
	background: #fff;
	border-bottom: 0px;
}
.navbar-header {
	float: right;
	padding-right: 100px;
	text-align: right;
	width: auto;
}
.navbar a {
	text-decoration: none;
	color: rgb(53, 161, 43);
}

/* Header */
#header {
	height: 50vh;
	background: url('../img/header.jpg');
}
#header .image {
	height: 50vh;
	background: url('../img/mobile-phone.png') no-repeat center;
}
#header svg #rect-outer {
	fill:rgb(255,255,255);
	stroke-width:3;
	stroke:rgba(0, 255, 76, 0.5);
}
#header svg #rect-inner {
	fill:rgb(10, 202, 96);
}
#header svg text {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 5%;
}